.manage-schedule-container {
  .m-schedule-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0;
  }
  .pick-hour-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .btn-schedule {
      border: 1px solid gray;
      &.active {
        background: orange;
      }
    }
  }
  .btn-save-schedule {
    margin-top: 20px;
  }
}
