.manage-schedule-container {
  .m-schedule-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0;
  }
  .pick-hour-container {
    height: 150px;
    border: 1px solid red;
  }
}
