.doctor-detail-container {
  .intro-doctor {
    margin: 0 100px;
    display: flex;

    .content-left {
      width: 20%;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      // background-image: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      margin: 10px 20px;
    }
    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .content-right__up {
        padding-top: 15px;
        font-size: 20px;
        font-weight: 600;
      }
      .content-right__down {
        padding-top: 10px;
      }
    }
  }
  .schedule-doctor {
    margin: 0 100px;
    display: flex;
    min-height: 200px;
    padding: 10px 0;
    .content-left {
      width: 50%;
    }
    .content-right {
      width: 50%;
    }
  }
  .detail-infor-doctor {
    padding: 20px 100px;
    background-color: #f9f9f9;
    h3 {
      font-size: 17px;
    }
    img {
      width: 100%;
    }
  }

  .comment-doctor {
    height: 50px;
  }
}
